body {
  margin: 0 10px 10px 20px;
  text-align: center;
}
* {
  box-sizing: border-box;
}
h1 {
  color: red;
}
.block {
  display: inline-block;
  background-color: #128238;
  margin: 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.value {
  color: whitesmoke;
}
#element {
  height: 30vh;
  background-color: rgba(139, 32, 211, 0.533);
  margin: 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
span {
  display: block;
  font-size: 20px;
}
